<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1>404 !</h1>
        <img src="../assets/oh_no.jpg" />
      </v-flex>
    </v-layout>
  </v-container>
</template>
